.tile {
  display: block;
  width: 16px;
  height: 16px;
  float: left;
  line-height: 0;
  font-size: 0;
}

.closed {
  background-image: url(~/assets/images/closed.png);
}

.marked {
  background-image: url(~/assets/images/marked.png);
}
